@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Welcome to SAANVIK IT TECHNOLOGIES PVT LTD 💜 Azure & AzureDevops</h1>
    <p class="lead">Start your cloud and devops journey with us.</p>
</div>
